@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Your default theme */
    --background: white;
    --foreground: bg-gray-800;
}

[data-theme="dark"] {
    --background: bg-gray-800;
    --foreground: white;
}
